* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    float: left;
    padding: 25px 70px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 2px solid black;
}

.navBar {
    background-color: white;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navBar li {
    height: 50px;
}

.navBar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    text-transform: lowercase;
}

.navAnimation {
    position: relative;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navAnimation::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30px;
    width: calc(100% - 60px);
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom left;
}

.navAnimation:hover::before {
    transform: scaleX(1);
}

.navBar li:first-child {
    margin-right: auto;
}

.sidebar li:first-child {
    padding-bottom: 150px;
}

.sidebar li:not(first-child) {
    margin-bottom: 30px;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: 30px;
}

@media(width <=970px) {
    .hideOnMobile {
        display: none;
    }
}

.hideOnLarge {
    display: block;
}

@media(width >=971px) {
    .hideOnLarge {
        display: none;
    }
}

.navButton a {
    display: flex;
    margin-top: 4px;
    margin-right: 150px;
    border: 2px solid black;
    border-radius: 7px;
    transition: 0.5s;
    height: 35px;
}

.navButton a:hover {
    color: white;
    background-color: black;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    max-width: 710px;
    margin: 0 auto;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

.about-me p {
    font-size: 18px;
    line-height: 1.6;
}